.customerReviewSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.customerReviewSection .customerReviewSection-wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh; 
}
.customerReviewSection-wrapper .customerReviewSection-reviewCard-wrapper{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    border-radius: 20px;
}
@media (min-width: 380px) {
    
    .customerReviewSection .customerReviewSection-wrapper {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
    }
    .customerReviewSection-wrapper .customerReviewSection-reviewCard-wrapper{
            width: 45%;
            height: 40vh;
    }
}
@media (min-width: 850px) {

    .customerReviewSection-wrapper .customerReviewSection-reviewCard-wrapper{
            width: 30%;
            height: 30vh;
    }
}
