.reviewCard-container{
    display: grid;
    width: 98%;
    height: 98%;
    grid-template: repeat(6, 1fr)/ 1fr;
    background: var(--semiblack-color);
    border-radius: 20px;

}
.reviewCard-container .avatar-stars-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 100%;
    grid-area: 1 / 1 / 3/ 1;
}
.reviewCard-container .avatar-stars-containter .reviewCard-avatarImage{
    
    height: 90%;
}
.reviewCard-container .avatar-stars-containter .reviewCard-starsScore{
    height: 14px;
}
.reviewCard-container .reviewCard-userName{
    grid-area: 3 / 1 / 4 / 1;
    align-self: center;
    justify-self: center;
    width: 90%;
    height: auto;
}
.reviewCard-container .description-container{
    grid-area: 4 / 1 / 7 / 1;
    justify-self: center;
    width: 90%;
    height: 100%;
}
