.titleF{
justify-content: center;
}
.down .acord {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.down .acord #down {
margin-left: auto;
}

ul.faq {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color:#f1f1f1;

}
  
li.answer {
    margin-bottom: 1rem;
    text-decoration: none;
    color:#f1f1f1;
}
  
.acord {
display: block;
width: 100%;
background-color: black;
color: white;
border: none;
padding: 1rem;
text-align: left;
font-size: 1.2rem;
font-weight: bold;
border-radius: 0.5rem;
transition: background-color 0.3s ease;
}
.acord button{
    color:#f1f1f1;
    border-color: blueviolet;
}

.acord:focus {
outline: none;
}

#answer2{
    background-color: black;
}

.show {
display: block;
padding: 1rem;
background-color: #f1f1f1;
border-radius: 0.5rem;
}

.hide {
display: none;
}


@media (max-width: 768px) {
button {
    font-size: 1rem;
}

.show {
    padding: 0.5rem;
}
}
