.containerFooter {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #935FE6, #57B7BB);
    padding: 20px;
    justify-content: center;
}

.footerRow {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items:flex-start;
    justify-content: space-evenly
}

.footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    
}
.footerColumn-contact{
    display: flex;
    flex-direction: column;
    
}
.footerTitle {
    font-size: 1.5em;
    margin: 2% 0% 2.5% 0%;
}

.contactOption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    line-height: 1.4em;
    font-size: 0.9em;
}

.optionEmailTelephone {
    display: flex;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
}

.buttonMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    margin-top: 2.1%;
    color: #77757b;
    margin: 1vh;
                  
}

.buttonMedia:hover {
    color: #935FE6;
    cursor: pointer;
    transform: scale(1.2);
}
.footerColumn-mediaLinks{
    display: flex;
}

#infoWhiteLogo {
    width: 65%;
}

#infoDescription {
    text-align: center;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.4em;
}

#infoTerms {
    font-size: 0.9em;
    font-weight: bold;
}

#infoTerms:hover {
    color: #57B7BB;
    cursor: pointer;
}

#copyrightText {
    text-align: center;
    font-size: 0.7em;
    margin-top: 5%;
    margin-bottom: 0%;
}

@media only screen and (max-width: 700px) {

    .footerRow {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .footerColumn {
        flex-basis: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}