.detail-section{
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-bottom: 10vh;
}
.detail-wrapper{
display: flex;
flex-direction: column;
justify-content: center;
background-color: #1b1c20;
max-width: 40%;
min-width: 360px;
border-radius: 1rem;

}
.detail-img{
    width: 33%;
    border-radius: 1rem 1rem 0 0;
    min-height: 360px;
    min-width: 360px;
}
.detail-card-wrapper{
        min-width: 66%;
    padding: 15px 20px 10px 20px;

}
.detail-card-wrapper>h1{
    font-weight: 800;
}
.detail-card-wrapper>h2 {
    color: var(--violet-color);
    font-weight: 400;

}
.detail-card-wrapper-buttons {
    display: flex;
}

@media (min-width: 480px) {
    .detail-wrapper {
            display: flex;
            flex-direction: row;

            max-width: 100%;
                    min-width: 66%;
            border-radius: 1rem;
    }
    .detail-img {
        width: 33%;
        border-radius: 1rem 0 0 1rem;
        min-height: 360px;
        min-width: 360px;
    }
}